@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Zen+Kurenaido&display=swap');

body{
    font-family: "Noto Sans JP", sans-serif;
}

.fw-900{
    font-weight: 900;
}

.fw-800{
    font-weight: 800;
}

.fw-700{
    font-weight: 700;
}

.fw-600{
    font-weight: 600;
}

.fw-500{
    font-weight: 500;
}

.fw-400{
    font-weight: 400;
}

.fw-300{
    font-weight: 300;
}

.fw-200{
    font-weight: 200;
}

.fw-100{
    font-weight: 100;
}

:root{
    --mycolor01:#eb8f90;
    --mycolor02:#ffb471;
    --mycolor03:#adbed2;
    --mycolor04:#12406a;
    --bgcolor01:#ffff80;
    --bgcolor02:#c0c0c0;
    --button01:#008000;
}

.bg-cover{
    background-position: center center;
    background-size: cover;}

@media screen and (max-width: 768px) {
    .table-rwd thead{
        display: none;
    }
    .table-rwd tbody tr{
        display:block;
        border: 3px solid #808000;
        margin-top: 5px;
    }
    .table-rwd tbody td{
        display:block;
        overflow: hidden;
    } 
    
    .table-rwd tbody tr td::before{
        content: attr(data-th)":";
        color: rgb(2, 72, 82);
        font: weight 500px;;
        display: block;
        float: left;
        text-align: right;
        width: 4em;
    padding-right: 1em;
        
    }
    .table-rwd tbody tr td span.table-col{
            display: block;
            float: left;
            /* width: 80%; */
            width: calc(100% - 4em);
        }
    
    
    }
